body {
  background-color: #edeff2;
  font-family: 'Open Sans', sans-serif;
  color: #6a859c;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h2 {
  margin-top: 15px;
  margin-bottom: 5px;
  color: #f0f0f0;
  font-size: 16px;
  line-height: 36px;
  font-weight: 600;
  text-align: left;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #f0f0f0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #ecf0f1;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  text-transform: none;
}

h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
}

p {
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
  float: none;
  clear: left;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  text-align: left;
  text-transform: none;
}

a {
  color: #e4b962;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  color: #fdebc5;
  text-decoration: underline;
}

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 74px;
}

li {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
}

strong {
  font-weight: bold;
}

.button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 12px 30px;
  border-radius: 4px;
  background-color: #69b9ff;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #2e9dff;
}

.button.w--current {
  background-color: #2e80b6;
}

.button.full-width {
  display: block;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.button.tab {
  margin-right: 8px;
  margin-left: 8px;
  background-color: #92a0ad;
}

.button.tab:hover {
  background-color: #2e80b6;
}

.button.tab.w--current {
  background-color: #2e80b6;
}

.navigation-link {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #f8c740;
}

.navigation-link:hover {
  color: #2e9dff;
}

.navigation-bar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 100;
  height: 80px;
  margin-bottom: 0px;
  padding-bottom: 15px;
  background-color: #5e5e5e;
}

.brand-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #69b9ff;
  font-size: 25px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.brand-link {
  padding-top: 16px;
  padding-bottom: 16px;
}

.section {
  position: relative;
  padding: 80px 10px;
  background-color: #fff;
  color: #192024;
  text-align: center;
}

.section.accent {
  background-color: #192024;
}

.section.venues {
  background-image: none;
}

.section.black {
  position: static;
  margin-bottom: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #111113;
  background-image: -webkit-linear-gradient(270deg, #4f4f55, #4f4f55);
  background-image: linear-gradient(180deg, #4f4f55, #4f4f55);
  direction: ltr;
}

.section.black._2 {
  background-image: none;
  color: #676770;
}

.section.black._2._3 {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  color: #000;
}

.section.black._2._3._4 {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #676770;
}

.section.black._2._3._4._5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #575764;
  color: #676770;
}

.section.black.bg {
  background-image: -webkit-linear-gradient(270deg, hsla(240, 4%, 42%, .93), hsla(240, 4%, 42%, .93)), url('../images/02Submit.jpg');
  background-image: linear-gradient(180deg, hsla(240, 4%, 42%, .93), hsla(240, 4%, 42%, .93)), url('../images/02Submit.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.section.black.front {
  margin-top: 0px;
  background-image: -webkit-linear-gradient(270deg, hsla(240, 4%, 42%, .9), hsla(240, 4%, 42%, .9)), url('../images/03Programme.jpg');
  background-image: linear-gradient(180deg, hsla(240, 4%, 42%, .9), hsla(240, 4%, 42%, .9)), url('../images/03Programme.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

.section.black.front.fees {
  background-image: -webkit-linear-gradient(270deg, hsla(240, 4%, 42%, .95), hsla(240, 4%, 42%, .95)), url('../images/04Attending_1.jpg');
  background-image: linear-gradient(180deg, hsla(240, 4%, 42%, .95), hsla(240, 4%, 42%, .95)), url('../images/04Attending_1.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.section.black.submit {
  display: block;
  padding-top: 110px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}

.section.black.submit.short {
  min-height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.section.black.org {
  background-image: -webkit-linear-gradient(270deg, hsla(240, 4%, 42%, .97), hsla(240, 4%, 42%, .97)), url('../images/logo3_2.svg');
  background-image: linear-gradient(180deg, hsla(240, 4%, 42%, .97), hsla(240, 4%, 42%, .97)), url('../images/logo3_2.svg');
  background-position: 0px 0px, 50% -12%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.section.black._1 {
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.section.black {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #404047;
}

.section.light {
  background-color: #8e8e9c;
  text-align: left;
}

.section.black2 {
  background-color: #2f2f36;
}

.white-box {
  padding: 15px;
  border: 1px solid #dcebf7;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}

.white-box.transparent {
  border-style: none;
  background-color: transparent;
}

.hero-section {
  padding-top: 242px;
  padding-bottom: 242px;
}

.hero-section.centered {
  position: static;
  top: 0px;
  height: 600px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 4px solid #69b9ff;
  background-image: url('../images/01_1Home1.jpg'), -webkit-linear-gradient(270deg, #192024, #192024);
  background-image: url('../images/01_1Home1.jpg'), linear-gradient(180deg, #192024, #192024);
  background-position: 50% 13%, 0px 0px;
  background-size: 978px 520px, auto;
  background-repeat: no-repeat, repeat;
  background-attachment: fixed, scroll;
  text-align: center;
}

.hero-heading {
  margin-bottom: 30px;
  color: #fff;
  font-size: 60px;
  line-height: 60px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.hero-subheading {
  margin-bottom: 40px;
  color: #2e9dff;
  font-size: 25px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.hollow-button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  color: #fff;
  line-height: 21px;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.hollow-button:hover {
  border-color: #2e9dff;
  color: #2e9dff;
}

.hollow-button.all-caps {
  text-transform: uppercase;
}

.section-heading {
  margin-top: 0px;
  margin-bottom: 16px;
}

.section-heading.centered {
  margin-bottom: 40px;
  padding-top: 60px;
  color: #ecf0f1;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.section-heading.centered.white {
  color: #fff;
}

.section-subheading {
  display: block;
  margin-bottom: 10px;
}

.section-subheading.center {
  padding-right: 70px;
  padding-left: 70px;
  font-family: 'Open Sans', sans-serif;
  color: #8e8e9c;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0px;
  text-transform: capitalize;
}

.section-subheading.center.white {
  padding-right: 90px;
  padding-bottom: 40px;
  padding-left: 90px;
  color: #edeff2;
  font-weight: 400;
  text-align: left;
  text-transform: none;
}

.section-subheading.center.white.copy {
  height: 0%;
  text-align: center;
}

.section-subheading.center.white {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ecf0f1;
  text-transform: none;
}

.section-title-group {
  margin-top: 10px;
  margin-bottom: 0px;
}

.form-field {
  height: 45px;
  margin-bottom: 17px;
  border: 0px solid #000;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(64, 64, 71, .3);
}

.form-field.text-area {
  height: 110px;
}

.footer {
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer.center {
  border-top: 1px solid #dbdbdb;
  background-color: #383838;
  text-align: center;
}

.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #9e9e9e;
  font-size: 16px;
}

.grid-image {
  display: block;
  width: 35%;
  margin: 20px auto;
  padding: 20px;
  border: 10px solid #fff;
  border-radius: 50%;
  background-color: #69b9ff;
  box-shadow: 0 0 0 1px #2e9dff;
}

.info-icon {
  float: left;
}

.footer-link {
  display: block;
  margin-bottom: 6px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d5d5e0;
  color: #668cad;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(0, 140, 255, .84);
}

.footer-link.with-icon {
  margin-left: 30px;
}

.tab-menu {
  margin-bottom: 40px;
  text-align: center;
}

.tabs-wrapper {
  text-align: center;
}

.fullwidth-image {
  width: 100%;
  margin-bottom: 20px;
}

.white-text {
  margin-bottom: 20px;
  color: #fff;
}

.form {
  margin-top: 40px;
}

.text-block {
  position: relative;
  left: 0px;
  bottom: 0px;
  overflow: visible;
  padding-top: 0px;
  float: left;
  text-align: left;
}

.container {
  padding-top: 10px;
}

.container-2 {
  position: relative;
  left: 0px;
  top: 16%;
  right: 0px;
  bottom: 0%;
  padding-top: 0px;
}

.text-span {
  color: #f8c740;
}

.text-span-2 {
  color: #f8c740;
}

.image {
  position: relative;
  left: -20%;
  top: 0px;
  bottom: 1px;
  max-width: 55%;
  margin-top: -14px;
  padding-bottom: 0px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.nav-link {
  padding-top: 45px;
  padding-bottom: 0px;
  padding-left: 15px;
  -webkit-transform: skew(0deg, 0deg);
  -ms-transform: skew(0deg, 0deg);
  transform: skew(0deg, 0deg);
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #f8c740;
}

.nav-link:hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  color: #ecf0f1;
}

.nav-link.w--current {
  display: inline-block;
  color: #ecf0f1;
}

.nav-link.w--current:hover {
  color: #ecf0f1;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 70px;
  background-color: #5e5e5e;
  color: #676770;
}

.nav-link-2 {
  padding-top: 45px;
  padding-bottom: 0px;
  color: #e2a62b;
}

.nav-link-3 {
  padding-top: 45px;
  padding-bottom: 0px;
  color: #e2a62b;
}

.nav-link-4 {
  padding-top: 45px;
  padding-bottom: 0px;
  color: #e2a62b;
}

.nav-link-5 {
  padding-top: 45px;
  padding-bottom: 0px;
  color: #e2a62b;
}

.slide {
  height: 1000px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.container-3 {
  padding-top: 0px;
}

.slider {
  height: 524px;
  margin-top: 0px;
}

.image-2 {
  padding-top: 0px;
}

.slide-2 {
  position: relative;
  display: inline-block;
  margin-top: 70px;
  background-image: url('../images/01_1Home1.jpg'), -webkit-linear-gradient(270deg, #192024, #192024);
  background-image: url('../images/01_1Home1.jpg'), linear-gradient(180deg, #192024, #192024);
  background-position: 50% 50%, 0px 0px;
  background-size: 978px 520px, auto;
  background-repeat: no-repeat, repeat;
  color: #192024;
}

.div-block {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 100;
}

.bodytext {
  padding-bottom: 10px;
  direction: ltr;
  color: #ecf0f1;
  line-height: 25px;
  font-weight: 300;
  text-align: left;
  text-decoration: none;
  list-style-type: disc;
}

.bodytext.key {
  text-align: right;
}

.bodytext.key.left {
  text-align: left;
}

.bodytext._90in {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 31px;
  padding-left: 0px;
  font-size: 16px;
  text-transform: none;
}

.bodytext._90in.bullethead {
  margin-top: 0px;
  margin-bottom: -19px;
  padding-bottom: 20px;
}

.bodytext._90in.bullet {
  padding-bottom: 10px;
  padding-left: 40px;
}

.bodytext._90in._10pt {
  padding-bottom: 10px;
}

.bodytext._90in._10ot {
  padding-bottom: 10px;
}

.bodytext.bullet {
  padding-bottom: 20px;
  padding-left: 40px;
}

.bodytext.num {
  margin-bottom: 1px;
  padding-bottom: 20px;
  list-style-type: decimal;
}

.text-block-3 {
  color: #ecf0f1;
  line-height: 25px;
  text-align: left;
}

.text-block-4 {
  color: #ecf0f1;
  line-height: 25px;
  text-align: left;
}

.now-annual {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  color: #192024;
}

.now-annual.darkgrey {
  display: block;
}

.now-annual.darkgrey.bg {
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/01_1Home1.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/01_1Home1.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.section3 {
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

.host {
  background-image: -webkit-linear-gradient(270deg, #8e8e9c, #8e8e9c);
  background-image: linear-gradient(180deg, #8e8e9c, #8e8e9c);
}

.host.copy {
  height: auto;
  background-image: -webkit-linear-gradient(270deg, #192024, #192024);
  background-image: linear-gradient(180deg, #192024, #192024);
}

.host.lightgrey {
  padding-top: 20px;
  padding-bottom: 20px;
}

.host.dark {
  background-image: -webkit-linear-gradient(270deg, #676770, #676770);
  background-image: linear-gradient(180deg, #676770, #676770);
}

.container-5 {
  padding-top: 0px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/01_2Home2_1.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/01_2Home2_1.jpg');
  background-position: 0px 0px, 50% 0px;
  background-size: auto, auto;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
}

.slide-3 {
  margin-top: 70px;
  background-image: -webkit-linear-gradient(270deg, #192024, #192024);
  background-image: linear-gradient(180deg, #192024, #192024);
}

.container-6 {
  background-image: url('../images/01_3Home3.jpg');
  background-position: 0px 0px;
  background-size: 796px;
}

.slide-4 {
  margin-top: 70px;
  background-image: -webkit-linear-gradient(270deg, #192024, #192024);
  background-image: linear-gradient(180deg, #192024, #192024);
}

.icon {
  background-color: transparent;
  color: #676770;
}

.icon-2 {
  color: #676770;
}

.section-4 {
  height: 520px;
  margin-top: 70px;
  background-image: -webkit-linear-gradient(270deg, #192024, #192024);
  background-image: linear-gradient(180deg, #192024, #192024);
}

.section-4.submit {
  margin-top: 70px;
}

.container-7 {
  height: 520px;
  background-image: url('../images/05Venues.jpg');
  background-position: 50% 0px;
  background-size: cover;
}

.container-7.programme {
  height: 520px;
  background-image: url('../images/03Programme.jpg');
  background-size: 1012px 520px;
}

.container-7.attending {
  height: 520px;
  background-image: url('../images/04Attending.jpg');
  background-size: auto 520px;
}

.container-7.submit {
  background-image: url('../images/02Submit.jpg');
  background-size: 963px 520px;
}

.container-7.organizers {
  background-image: url('../images/06Organizers.jpg');
}

.important-text {
  text-align: right;
}

.conference-fees {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
}

.div-block-2 {
  height: 20px;
}

.row {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #676770;
  background-color: rgba(25, 32, 36, .5);
}

.row.top {
  display: block;
  padding-top: 10px;
  border-top-style: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.row.bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.row-2 {
  padding-bottom: 20px;
}

.row-3 {
  padding-bottom: 40px;
}

.row-4 {
  margin-bottom: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.important-text-2 {
  color: #ecf0f1;
}

.important-text-3 {
  font-size: 20px;
}

.important-text-4 {
  font-size: 20px;
}

.important-text-5 {
  font-size: 20px;
}

.text-span-3 {
  color: #f8c740;
}

.image-3 {
  position: static;
  z-index: 9999;
  width: 515px;
  height: auto;
  margin-top: 20px;
  margin-left: 118px;
}

.text-block-5 {
  text-align: right;
}

.facebook {
  text-align: left;
}

.text-block-6 {
  padding-top: 45px;
  color: #f0f0f0;
}

.image-4 {
  position: relative;
  z-index: 99;
}

.overgraphic {
  position: absolute;
  z-index: 998;
}

.div-block-3 {
  position: relative;
  left: 0px;
  top: 52px;
  right: 0px;
  z-index: 999;
  height: 545px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 35px;
}

.slider-2 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 545px;
  margin-top: 70px;
  background-image: -webkit-linear-gradient(270deg, #192024, #192024);
  background-image: linear-gradient(180deg, #192024, #192024);
}

.container-9 {
  position: static;
  height: 545px;
  margin-top: 0px;
  padding-top: 0px;
  background-image: url('../images/01_1Home1.jpg');
  background-position: 50% 0px;
  background-size: contain;
  background-repeat: no-repeat;
}

.mask {
  height: 545px;
  padding-bottom: 53px;
}

.photo-credits {
  color: #ecf0f1;
  text-align: center;
}

.photo-credits.credits {
  display: block;
}

.container-10 {
  padding-bottom: 0px;
}

.body {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #f0f0f0;
  text-align: left;
}

.body.centre {
  text-align: center;
}

.hero {
  position: relative;
  padding-top: 70px;
}

.slider-3 {
  position: relative;
  height: 545px;
  background-image: url('../images/01_2Home2.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.slider-3.sponsorship {
  background-image: none;
}

.slider-3.attending {
  background-image: url('../images/07Sponsorship_s.jpg');
}

.logo {
  position: absolute;
  z-index: 90;
  padding-top: 0px;
}

.container-11 {
  position: static;
  z-index: 50;
  padding-left: 0px;
}

.image-5 {
  position: relative;
  left: 394px;
  top: 68px;
  right: 0px;
  bottom: 0px;
  z-index: 50;
  width: 564px;
}

.front1 {
  position: static;
  background-image: url('../images/01_1Home1.jpg'), -webkit-linear-gradient(270deg, rgba(25, 32, 36, .7), rgba(25, 32, 36, .7));
  background-image: url('../images/01_1Home1.jpg'), linear-gradient(180deg, rgba(25, 32, 36, .7), rgba(25, 32, 36, .7));
  background-position: 50% 50%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
  background-attachment: scroll, scroll;
}

.front2 {
  background-image: url('../images/01_3Home3.jpg'), -webkit-linear-gradient(270deg, #192024, #192024);
  background-image: url('../images/01_3Home3.jpg'), linear-gradient(180deg, #192024, #192024);
  background-position: 50% 50%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
}

.div-block-4 {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 90;
  overflow: hidden;
  width: 600px;
  height: 550px;
  margin-top: 85px;
  margin-left: 45px;
  background-image: url('../images/logo3_1.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.div-block-4.white {
  background-image: url('../images/logo2.svg');
}

.logo-div {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 10;
}

.div-block-5 {
  background-image: -webkit-linear-gradient(270deg, #192024, #192024);
  background-image: linear-gradient(180deg, #192024, #192024);
}

.left-arrow {
  z-index: 100;
}

.right-arrow {
  z-index: 100;
}

.front3 {
  background-image: url('../images/01_2Home2.jpg'), -webkit-linear-gradient(270deg, #192024, #192024);
  background-image: url('../images/01_2Home2.jpg'), linear-gradient(180deg, #192024, #192024);
  background-position: 50% 50%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
}

.slide-nav {
  z-index: 999;
}

.slides {
  background-image: url('../images/03Programme.jpg'), -webkit-linear-gradient(270deg, #192024, #192024);
  background-image: url('../images/03Programme.jpg'), linear-gradient(180deg, #192024, #192024);
  background-position: 50% 50%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
}

.slides.organizers {
  display: block;
  background-image: url('../images/06Organizers.jpg'), -webkit-linear-gradient(270deg, #192024, #192024);
  background-image: url('../images/06Organizers.jpg'), linear-gradient(180deg, #192024, #192024);
  background-position: 50% 50%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
}

.slides.organizers.e {
  background-image: url('../images/05Venues.jpg'), -webkit-linear-gradient(270deg, #192024, #192024);
  background-image: url('../images/05Venues.jpg'), linear-gradient(180deg, #192024, #192024);
  background-position: 50% 50%, 0px 0px;
  background-size: contain, auto;
}

.slides.submit {
  background-image: url('../images/02Submit.jpg'), -webkit-linear-gradient(270deg, #192024, #192024);
  background-image: url('../images/02Submit.jpg'), linear-gradient(180deg, #192024, #192024);
  background-position: 50% 50%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
}

.slides.attending {
  background-image: url('../images/04Attending_2.jpg'), -webkit-linear-gradient(270deg, #192024, #192024);
  background-image: url('../images/04Attending_2.jpg'), linear-gradient(180deg, #192024, #192024);
  background-position: 50% 50%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
}

.slides.venues {
  background-image: url('../images/05Venues.jpg'), -webkit-linear-gradient(270deg, #192024, #192024);
  background-image: url('../images/05Venues.jpg'), linear-gradient(180deg, #192024, #192024);
  background-position: 50% 50%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
}

.slides.sponsorship {
  background-image: url('../images/07Sponsorship_s.jpg'), -webkit-linear-gradient(270deg, #192024, #192024);
  background-image: url('../images/07Sponsorship_s.jpg'), linear-gradient(180deg, #192024, #192024);
  background-position: 50% 50%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
}

.text-span-4 {
  color: #ecf0f1;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.wrapper.flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.important-text-6 {
  font-size: 20px;
  font-weight: 700;
}

.flex-parent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, #404047, #404047);
  background-image: linear-gradient(180deg, #404047, #404047);
}

.column {
  padding: 20px 0px 80px;
  border: 10px solid #404047;
  background-image: url('../images/PolyU_Logo.svg'), -webkit-linear-gradient(270deg, #ecf0f1, #ecf0f1);
  background-image: url('../images/PolyU_Logo.svg'), linear-gradient(180deg, #ecf0f1, #ecf0f1);
  background-position: 50% 50%, 0px 0px;
  background-size: 300px, auto;
  background-repeat: no-repeat, repeat;
  background-attachment: scroll, scroll;
}

.column.acm {
  height: 200px;
  background-image: url('../images/acm_logo_.svg'), -webkit-linear-gradient(270deg, #edeff2, #edeff2);
  background-image: url('../images/acm_logo_.svg'), linear-gradient(180deg, #edeff2, #edeff2);
  background-position: 50% 50%, 0px 0px;
  background-size: 90%, auto;
  background-repeat: no-repeat, repeat;
  background-attachment: scroll, scroll;
}

.column.poly {
  height: 200px;
  background-image: url('../images/polyudesign.svg'), -webkit-linear-gradient(270deg, #edeff2, #edeff2);
  background-image: url('../images/polyudesign.svg'), linear-gradient(180deg, #edeff2, #edeff2);
  background-position: 50% 50%, 0px 0px;
  background-size: contain, auto;
  background-repeat: repeat-x, repeat;
  background-attachment: scroll, scroll;
}

.column.sigchi {
  height: 200px;
  padding-top: 0px;
  background-image: url('../images/SIGCHI_Logo.svg'), -webkit-linear-gradient(270deg, #f0f0f0, #f0f0f0);
  background-image: url('../images/SIGCHI_Logo.svg'), linear-gradient(180deg, #f0f0f0, #f0f0f0);
  background-position: 50% 50%, 0px 0px;
  background-size: 90%, auto;
}

.paragraph-2 {
  color: #edeff2;
}

.paragraph-3 {
  color: #edeff2;
}

.bodyleft {
  position: static;
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #f0f0f0;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.bodyleft.bold {
  display: block;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

.bodyleft.short {
  height: 80px;
}

.bodyleft.right {
  text-align: right;
}

.column-2 {
  padding-left: 0px;
  background-image: -webkit-linear-gradient(270deg, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(180deg, #f0f0f0, #f0f0f0);
}

.row-5 {
  height: 200px;
}

.brand {
  position: absolute;
  width: 100px;
  margin-top: 7px;
  margin-bottom: 0px;
  background-image: url('../images/dislogo_white.svg');
  background-position: 50% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.brand.logo {
  position: absolute;
  z-index: 999;
  display: inline-block;
  overflow: visible;
  float: right;
  clear: none;
}

.brand-2 {
  background-image: -webkit-linear-gradient(270deg, #edeff2, #edeff2);
  background-image: linear-gradient(180deg, #edeff2, #edeff2);
}

.brand-3 {
  background-image: url('../images/256.png');
  background-position: 50% 50%;
  background-size: 128px;
  background-repeat: no-repeat;
}

.image-6 {
  position: absolute;
  display: inline-block;
  margin-top: 17px;
  margin-left: 9px;
  padding-top: 2px;
}

.image-7 {
  margin-top: 40px;
}

.twitter {
  display: block;
  text-align: right;
}

.twitter-2 {
  position: static;
  left: 20%;
  top: 0px;
  right: 0%;
  bottom: 0px;
  display: block;
  overflow: visible;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.row-6 {
  margin-top: 10px;
  padding-bottom: 0px;
}

.facebook-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.row-7 {
  margin-bottom: 40px;
  padding-bottom: 0px;
}

.image-8 {
  padding-top: 20px;
}

.image-9 {
  padding-top: 20px;
}

.row-8 {
  margin-bottom: 40px;
}

.text-block-7 {
  text-align: left;
}

.important-text-7 {
  margin-bottom: 20px;
}

.column-4 {
  padding-right: 1px;
  padding-left: 70px;
}

.row-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  padding: 10px 70px 0px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-top: 1px solid #676770;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-image: -webkit-linear-gradient(270deg, rgba(25, 32, 36, .45), rgba(25, 32, 36, .45));
  background-image: linear-gradient(180deg, rgba(25, 32, 36, .45), rgba(25, 32, 36, .45));
}

.row-9.bottom {
  padding-bottom: 0px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.row-9.bottom._200px {
  height: 200px;
}

.row-9.bottom._40px {
  height: 80px;
}

.row-9.top {
  padding-top: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.row-9.top._80px {
  height: 80px;
}

.row-9._80px {
  height: 80px;
}

.row-9.long6 {
  height: 100px;
}

.row-9._200 {
  height: 350px;
}

.row-9._200._150 {
  height: 150px;
}

.row-9._200._150._2 {
  height: 200px;
}

.row-9._200.t {
  height: 250px;
}

.row-9._600px {
  height: 600px;
}

.t-table {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 0px;
}

.white-bold {
  color: #edeff2;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

.rich-text-block {
  margin-top: 20px;
  color: #edeff2;
  text-align: left;
}

.conference-text {
  padding-right: 90px;
  padding-left: 90px;
}

.div-block-6 {
  margin-top: 0px;
  margin-bottom: 20px;
}

.column-5 {
  border-top: 1px none #000;
}

.column-6 {
  border-top: 1px none #000;
}

.icon-4 {
  margin-top: 0px;
  padding-top: 48px;
}

.icon-5 {
  margin-top: 45.5px;
}

.dropdown-link {
  margin-top: 0px;
  background-color: #192024;
  color: #edeff2;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.dropdown-list {
  margin-top: 5px;
}

.dropdown-list.w--open {
  background-color: transparent;
}

.important-text-8 {
  position: static;
  padding-left: 0px;
}

.html-embed {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-8 {
  display: block;
  height: 120px;
}

.div-block-8.short {
  height: 40px;
  margin-bottom: 20px;
}

.div-block-8.long {
  height: 430px;
}

.column-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.small-table {
  padding-bottom: 40px;
}

.link-block-2 {
  background-image: url('../images/PolyU_Logo.svg');
  background-position: 0px 0px;
  background-size: 300px;
}

.body-inside {
  margin-top: 60px;
  margin-bottom: 40px;
  padding-right: 90px;
  padding-left: 90px;
  float: none;
  clear: none;
  color: #f0f0f0;
  font-size: 16px;
  line-height: 25px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: none;
}

.body-inside.bold {
  margin-top: 0px;
  font-weight: 700;
  text-transform: none;
}

.body-inside.none {
  padding-right: 0px;
  padding-left: 0px;
}

.body-inside.centre2 {
  text-align: center;
}

.body-inside.new2 {
  position: relative;
  padding-left: 0px;
}

.body-inside.new2._2 {
  margin-bottom: 97px;
}

.body-inside.new2._1 {
  margin-bottom: 125px;
}

.body-inside li {
  text-align: left;
}

.column-9 {
  height: 430px;
}

.row-10 {
  margin-top: 40px;
}

.image-10 {
  margin-bottom: 10px;
}

.image-11 {
  margin-bottom: 9px;
}

.image-11.org.stu {
  margin-top: 40px;
}

.div-block-9 {
  margin-bottom: 1px;
  padding-bottom: 80px;
  text-align: center;
}

.div-block-9._2 {
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.column-10 {
  position: static;
  display: block;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: right;
}

.column-10._12px {
  font-size: 12px;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.link-2 {
  font-size: 16px;
}

.mask-2 {
  background-image: -webkit-linear-gradient(270deg, #192024, #192024);
  background-image: linear-gradient(180deg, #192024, #192024);
}

.mask-3 {
  border-style: none;
}

.image-12 {
  text-align: right;
}

.link-3 {
  margin-left: 20px;
}

.div-block-11 {
  padding-top: 19px;
}

.sponsorshop-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-12 {
  min-height: 100%;
}

.bodysection {
  height: 100%;
  min-height: 100%;
  margin-top: 70px;
  background-image: -webkit-linear-gradient(270deg, #676770, #676770);
  background-image: linear-gradient(180deg, #676770, #676770);
}

.wrapperdiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.heading {
  color: #fff;
}

.column-11 {
  left: 0px;
  top: 0px;
}

.column-12 {
  left: 0px;
  top: 0px;
}

.column-13 {
  left: 0px;
  top: 0px;
}

.column-14 {
  left: 0px;
  top: 0px;
}

.column-15 {
  height: 240px;
}

.div-block-13 {
  height: 240px;
}

.div-block-14 {
  height: 80px;
}

.rich-text-block-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.section-5 {
  background-color: #676770;
}

.container-13 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.heading-3 {
  margin-top: 20px;
}

.section-6 {
  background-color: #404047;
}

.sec1 {
  display: block;
  padding-top: 129px;
  clear: none;
  background-color: #404047;
}

.container-14 {
  height: 350px;
  background-image: url('../images/SZbanner_1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat-y;
}

.div-block-15 {
  height: 350px;
  background-image: url('../images/SZbanner.jpg'), -webkit-linear-gradient(270deg, #000, #000);
  background-image: url('../images/SZbanner.jpg'), linear-gradient(180deg, #000, #000);
  background-position: 50% 50%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
}

html.w-mod-js *[data-ix="fade-in-bottom-page-loads"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="fade-in-left-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-right-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-top-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}

html.w-mod-js *[data-ix="fade-in-bottom-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="bounce-in-scroll-in"] {
  opacity: 0;
  -webkit-transform: scale(0.6000000000000002, 0.6000000000000002);
  -ms-transform: scale(0.6000000000000002, 0.6000000000000002);
  transform: scale(0.6000000000000002, 0.6000000000000002);
}

html.w-mod-js *[data-ix="scale-on-scroll"] {
  opacity: 1;
  -webkit-transform: scale3d(1.5, 1.5, 0.5);
  transform: scale3d(1.5, 1.5, 0.5);
}

html.w-mod-js *[data-ix="new-interaction"] {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.01);
  transform: scale3d(0.5, 0.5, 0.01);
}

html.w-mod-js *[data-ix="new-interaction-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

@media (max-width: 991px) {
  .navigation-link {
    color: hsla(0, 0%, 100%, .52);
  }
  .navigation-link.w--current {
    color: #fff;
  }
  .hamburger-button.w--open {
    background-color: #3b99d9;
  }
  .navigation-menu {
    background-color: #3b99d9;
  }
  .section.black {
    margin-top: 0px;
  }
  .hero-section.centered {
    padding-top: 144px;
    padding-bottom: 144px;
  }
  .grid-image {
    width: 50%;
    padding: 15px;
  }
  .image {
    left: 0%;
    max-width: 70%;
    margin-top: -111px;
    padding-top: 0px;
  }
  .nav-link {
    margin-left: 0px;
  }
  .nav-menu {
    background-image: -webkit-linear-gradient(270deg, #192024, #192024);
    background-image: linear-gradient(180deg, #192024, #192024);
    text-align: left;
  }
  .nav-menu-2 {
    overflow: auto;
    width: 100%;
    height: 100vh;
    padding-left: 30px;
    background-image: -webkit-linear-gradient(270deg, #192024, #192024);
    background-image: linear-gradient(180deg, #192024, #192024);
    text-align: left;
  }
  .icon-3 {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
  }
  .nav-menu-3 {
    background-image: -webkit-linear-gradient(270deg, #192024, #192024);
    background-image: linear-gradient(180deg, #192024, #192024);
    color: #192024;
    text-align: left;
  }
  .nav-menu-4 {
    background-image: -webkit-linear-gradient(270deg, #192024, #192024);
    background-image: linear-gradient(180deg, #192024, #192024);
    text-align: left;
  }
  .nav-menu-5 {
    background-image: -webkit-linear-gradient(270deg, #192024, #192024);
    background-image: linear-gradient(180deg, #192024, #192024);
    color: #192024;
    text-align: left;
  }
  .nav-menu-6 {
    background-image: -webkit-linear-gradient(270deg, #192024, #192024);
    background-image: linear-gradient(180deg, #192024, #192024);
    text-align: left;
  }
  .front1 {
    background-image: url('../images/01_1Home1.jpg'), -webkit-linear-gradient(270deg, null, null);
    background-image: url('../images/01_1Home1.jpg'), linear-gradient(180deg, null, null);
    background-size: cover, auto;
  }
  .front2 {
    background-image: url('../images/01_3Home3.jpg'), -webkit-linear-gradient(270deg, null, null);
    background-image: url('../images/01_3Home3.jpg'), linear-gradient(180deg, null, null);
    background-size: auto, auto;
  }
  .div-block-4.blue {
    background-size: auto;
  }
  .front3 {
    background-image: url('../images/01_2Home2.jpg'), -webkit-linear-gradient(270deg, null, null);
    background-image: url('../images/01_2Home2.jpg'), linear-gradient(180deg, null, null);
    background-size: cover, auto;
  }
  .slides.organizers {
    background-image: url('../images/06Organizers.jpg'), -webkit-linear-gradient(270deg, null, null);
    background-image: url('../images/06Organizers.jpg'), linear-gradient(180deg, null, null);
    background-size: cover, auto;
  }
  .slides.programme {
    background-image: url('../images/03Programme.jpg'), -webkit-linear-gradient(270deg, null, null);
    background-image: url('../images/03Programme.jpg'), linear-gradient(180deg, null, null);
    background-size: cover, auto;
  }
  .slides.submit {
    background-image: url('../images/02Submit.jpg'), -webkit-linear-gradient(270deg, null, null);
    background-image: url('../images/02Submit.jpg'), linear-gradient(180deg, null, null);
    background-size: auto, auto;
  }
  .slides.attending {
    background-image: url('../images/04Attending_2.jpg'), -webkit-linear-gradient(270deg, null, null);
    background-image: url('../images/04Attending_2.jpg'), linear-gradient(180deg, null, null);
    background-size: cover, auto;
  }
  .slides.venues {
    background-image: url('../images/05Venues.jpg'), -webkit-linear-gradient(270deg, null, null);
    background-image: url('../images/05Venues.jpg'), linear-gradient(180deg, null, null);
    background-size: cover, auto;
  }
  .slides.sponsorship {
    background-image: url('../images/07Sponsorship_s.jpg'), -webkit-linear-gradient(270deg, null, null);
    background-image: url('../images/07Sponsorship_s.jpg'), linear-gradient(180deg, null, null);
    background-size: cover, auto;
  }
  .bodyleft {
    font-size: 14px;
  }
  .bodyleft.bold {
    text-align: left;
  }
  .image-6 {
    margin-top: 3px;
    margin-left: -2px;
  }
  .column-3 {
    left: -32px;
  }
  .row-9.bottom {
    height: 60px;
  }
  .row-9._80px {
    height: 80px;
  }
  .row-9._200 {
    height: 400px;
  }
  .row-9._200._150._2 {
    height: 220px;
  }
  .icon-5 {
    display: block;
    padding-right: 573px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .container-12 {
    margin-top: 0px;
    padding-top: auto;
  }
  .div-block-8 {
    margin-bottom: 30px;
  }
  .div-block-8.long {
    margin-bottom: 60px;
  }
  .column-7 {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .body-inside {
    padding-right: 10px;
    padding-left: 10px;
  }
  .body-inside.wide {
    padding-right: 10px;
    padding-left: 10px;
  }
  .div-block-13.longer {
    height: 300px;
  }
  .div-block-14 {
    height: 90px;
  }
  .div-block-15 {
    background-image: url('../images/SZbanner_1.jpg'), -webkit-linear-gradient(270deg, transparent, transparent);
    background-image: url('../images/SZbanner_1.jpg'), linear-gradient(180deg, transparent, transparent);
    background-position: -505px 50%, 0px 0px;
    background-size: cover, auto;
    background-repeat: no-repeat, repeat;
  }
  .dropdown {
    margin-left: 0px;
  }
  .dropdown-2 {
    margin-left: 0px;
  }
}

@media (max-width: 767px) {
  .button.full-width {
    margin-right: auto;
    margin-left: auto;
  }
  .button.tab {
    font-size: 12px;
  }
  .section.black {
    margin-top: 0px;
  }
  .section.black.bg {
    margin-top: 0px;
  }
  .white-box {
    margin-bottom: 30px;
  }
  .hero-section.centered {
    padding-top: 119px;
    padding-bottom: 119px;
  }
  .hero-heading {
    margin-bottom: 15px;
    font-size: 50px;
  }
  .hero-subheading {
    font-size: 18px;
  }
  .form-field.text-area {
    display: block;
  }
  .grid-image {
    width: 20%;
    padding: 20px;
  }
  .spc {
    margin-bottom: 30px;
  }
  .image {
    margin-top: -42px;
  }
  .bodytext {
    text-align: left;
  }
  .bodytext.key {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .bodytext.key.left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 11px;
    text-align: left;
  }
  .bodytext._90in {
    padding-bottom: 30px;
  }
  .text-block-4 {
    margin-top: 15px;
  }
  .image-3 {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    display: inline-block;
    margin-right: 0%;
    margin-left: 0%;
  }
  .nav-menu-2 {
    background-image: -webkit-linear-gradient(270deg, #192024, #192024);
    background-image: linear-gradient(180deg, #192024, #192024);
    text-align: left;
  }
  .body.box {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(270deg, hsla(0, 3%, 52%, .5), hsla(0, 3%, 52%, .5));
    background-image: linear-gradient(180deg, hsla(0, 3%, 52%, .5), hsla(0, 3%, 52%, .5));
    color: #f0f0f0;
  }
  .body.box.left {
    padding-left: 10px;
    text-align: left;
  }
  .div-block-4 {
    margin-left: 0px;
  }
  .div-block-4.white {
    margin-left: 0px;
  }
  .div-block-4.blue {
    margin-left: 0px;
  }
  .slides.programme {
    background-image: url('../images/03Programme.jpg'), -webkit-linear-gradient(270deg, null, null);
    background-image: url('../images/03Programme.jpg'), linear-gradient(180deg, null, null);
    background-size: cover, auto;
  }
  .bodyleft {
    position: static;
    display: block;
    margin-bottom: 28px;
    float: none;
    clear: none;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
  }
  .brand {
    margin-left: 10px;
  }
  .image-6 {
    margin-top: 3px;
    margin-left: 13px;
  }
  .twitter-2 {
    left: 36%;
  }
  .row-9 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .row-9.bottom._200px {
    height: 400px;
  }
  .row-9.bottom._40px {
    height: 100px;
  }
  .row-9.top {
    padding-right: auto;
    padding-left: auto;
  }
  .row-9._80px {
    height: 800px;
  }
  .row-9._200 {
    height: 450px;
  }
  .row-9._200._150._2 {
    height: 250px;
  }
  .conference-text {
    padding-right: 10px;
    padding-left: 10px;
  }
  .icon-5 {
    padding-right: 400px;
  }
  .container-12 {
    padding-top: auto;
  }
  .div-block-8 {
    overflow: auto;
    margin-bottom: 210px;
  }
  .div-block-8.short {
    margin-bottom: 75px;
  }
  .small-table {
    padding-bottom: 30px;
    opacity: 1;
  }
  .important-text-11 {
    text-align: left;
  }
  .div-block-13.longer {
    height: 330px;
  }
  .div-block-15 {
    background-image: url('../images/SZbanner_1.jpg'), -webkit-linear-gradient(270deg, null, null);
    background-image: url('../images/SZbanner_1.jpg'), linear-gradient(180deg, null, null);
    background-position: -553px 0px, 0px 0px;
  }
}

@media (max-width: 479px) {
  .button {
    margin-bottom: 25px;
  }
  .section.black {
    margin-top: 0px;
  }
  .section.black._2 {
    margin-top: 0px;
  }
  .hero-section.centered {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section-heading.centered {
    font-size: 20px;
  }
  .section-subheading.center {
    line-height: 30px;
  }
  .section-subheading.center.white {
    padding-right: 10px;
    padding-left: 10px;
  }
  .section-title-group {
    font-size: 10px;
    text-align: center;
  }
  .grid-image {
    width: 35%;
  }
  .image {
    max-width: 100%;
    margin-top: 42px;
  }
  .bodytext.key {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .text-block-4 {
    margin-top: 15px;
  }
  .row.top {
    padding-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .image-3 {
    margin-top: 67px;
  }
  .nav-menu-2 {
    width: 100%;
    background-image: -webkit-linear-gradient(270deg, #192024, #192024);
    background-image: linear-gradient(180deg, #192024, #192024);
  }
  .body {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(270deg, #4d4d4e, #4d4d4e);
    background-image: linear-gradient(180deg, #4d4d4e, #4d4d4e);
    color: #edeff2;
  }
  .body.box.left {
    padding-left: 10px;
    text-align: left;
  }
  .slider-3 {
    height: 400px;
  }
  .div-block-4 {
    width: 313px;
    margin-top: 0px;
  }
  .div-block-4.white {
    width: 322px;
    margin-top: 0px;
  }
  .div-block-4.blue {
    width: 313px;
  }
  .logo-div {
    margin-top: -10px;
  }
  .slides.sponsorship {
    background-image: url('../images/07Sponsorship_s.jpg'), -webkit-linear-gradient(270deg, null, null);
    background-image: url('../images/07Sponsorship_s.jpg'), linear-gradient(180deg, null, null);
    background-size: cover, auto;
  }
  .bodyleft {
    font-size: 12px;
  }
  .bodyleft.bold {
    font-size: 12px;
    line-height: 12px;
  }
  .image-6 {
    margin-top: 1px;
  }
  .twitter-2 {
    left: 28%;
  }
  .facebook-2 {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
  }
  .row-9 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .row-9.bottom {
    height: 80px;
  }
  .row-9.bottom._40px {
    height: 150px;
  }
  .row-9.top {
    padding-right: auto;
    padding-bottom: auto;
    padding-left: auto;
  }
  .row-9._200._150._2 {
    height: 400px;
  }
  .row-9._200.t {
    height: 500px;
  }
  .t-table {
    font-size: 12px;
  }
  .conference-text {
    padding-right: 10px;
    padding-left: 10px;
  }
  .icon-5 {
    padding-right: 130px;
  }
  .container-12 {
    padding-top: auto;
  }
  .important-text-9 {
    font-size: 20px;
    line-height: 16px;
  }
  .important-text-10 {
    font-size: 11px;
    line-height: 10px;
  }
  .column-8 {
    border-radius: 10px;
  }
  .important-text-11 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
  }
  .body-inside {
    text-align: left;
  }
  .body-inside.none {
    font-size: 12px;
  }
  .div-block-14 {
    height: 140px;
  }
}

